html, body, header, section, .view {
    height: 100%;
}

.top-nav-collapse {
    background-color: #9e9e9e !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

a, span {
    text-shadow: 1px 1px 2px #000;
}

h6 {
    line-height: 1.7;
}

.navbar-text {
    background-color: transparent;
    width: 100%;
    text-align: right;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

#image {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #9e9e9e !important;
    }

    .btn-outline-white {
        display: block;
    }

    .navbar-text {
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 10px;
        text-align: center;
    }

}

@media (max-width: 767px) {
    html, body, header, section, .view {
        height: 100vh;
    }
}