html {
    min-height: 100%;
}

body {
    color: #000;
    width: 100%;
    font: normal 1em/1.3 'Noto Serif', Georgia, serif;
    min-height: 100%;
    background-color: #EBEFF2;
    -webkit-overflow-scrolling: touch;
}

p {
    font-size: 1.3em;
}

pre {
    font-size: 1.3em;
}

.nav-tabs .nav-item .nav-link {
    color: #3e2723;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: #a1887f !important;
}

.nav-tabs .nav-item .nav-link.active {
    color: burlywood;
    background-color: #5d4037;
}

.nav-tabs .nav-item .nav-link:active {
    color: #3e2723;
    background-color: #5d4037;
}

hr {
    border: none;
    color: #000;
    background-color: #000;
    height: 1px;
    width: 100%;
}

i {
    color: #fff;
    font-size: 1.4rem;
}

.modal-notify .modal-header {
    border: 2px solid #4e342e;
}

.modal-notify .modal-content {
    border-radius: 3px;
}

.modal-body {
    border: 2px solid #4e342e;
    background-image: url(../img/f1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 576px) {
    .tab-pane {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    #task {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
    pre {
        font-size: 1.2em;
    }
}

@media (max-width: 470px) {
    #task {
        font-size: 1.75em;
    }
}

@media (max-width: 395px) {
    #task {
        font-size: 1.5em;
    }
    p {
        font-size: 1.1em;
    }
    pre {
        font-size: 1.1em;
    }
}

@media (max-width: 365px) {
    p {
        font-size: 1em;
    }
    pre {
        font-size: 1em;
    }
}

@media (max-width: 335px) {
    p {
        font-size: 0.9em;
    }
    pre {
        font-size: 0.9em;
    }
}